p.updateText {
  display: flex;
  margin: auto 0;
  text-transform: uppercase;
  transform: translateY(-3px);
  margin-right: 1rem;
  color: var(--text-color);
}
.containerUpdate {
  display: flex;
  justify-content: center;
  align-items: center;
}
