* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: rgb(255, 255, 255);
  --text-color: rgb(255, 255, 255);
  --w-img: 50px;
  --h-img: 50px;
}
body{
  background-position: top left;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url(../assets/image/galaxy.jpg);
  
  
}

p, span, h1 {
  color: var(--text-color);
  
}