

:root{
  --border: 10px
}
.banner {
  /* background-color: #121212; */
  /* margin-top: 10rem; */
  width: 100%;
  height: calc(100vh - 98px);
  padding-top: 3rem;
 
}

.imgAV {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;

}
.imgAV::before{
  content: "";
  position: absolute;
  width: 150px;
  height: 150%;
  
  background: linear-gradient(rgba(189, 49, 224, 0.679), rgb(230, 40, 122));
  animation: rotate 4s linear infinite;
}

.imgAV::after{
  
  content: "";
  position: absolute;
  inset: var(--border);
  border-radius: 50%;
  background: rgb(205, 146, 146);
}
@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.imgAV img {
  width: calc(300px - var(--border));
  height: calc(300px - var(--border));
  object-fit: cover;
  border-radius: 50%;
  z-index: 2;
}

.cursor {
  cursor: pointer;
}
.img-header {
  position: relative;
}
.img-as {
  position: absolute;
  width: 90%;
  height: auto;
  -webkit-border-top-left-radius: 100px;
  -webkit-border-top-right-radius: 200px;
  -webkit-border-bottom-right-radius: 100px;
  -webkit-border-bottom-left-radius: 10px;
  border-top-left-radius: 100px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  animation: updown 3s linear infinite;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(54, 81, 170, 0.5) -5.91%,
    rgba(78, 75, 94, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  border-radius: 2rem;
}

@keyframes updown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
